.cardBoardContainer {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.cardBoardContainer:hover {
  box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.8);
}

.cardBoard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;

  background-color: transparent;
  cursor: pointer;
}

.cardBoard img {
  border-radius: 5px 5px 0 0;
}

.cardBoardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 2px;
  font-family: 'Roboto', sans-serif;
}

.cardBoardInfo h2 {
  font-size: 1rem;
}

.cardBoardInfo p {
  font-size: 0.7rem;
  color: #ccc;
  margin-top: 4px;
}

.cardBoardFooter {
  max-width: 200px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: transparent;
}

.cardBoardFooter p {
  font-size: 0.7rem;
  cursor: pointer;
}