.textarea {
  padding: 5px;
  height: 100%;
  width: 100vw;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  overflow: hidden;
  background: none;
}